<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Football League Table</title>
    </head>
    
    <body>
        <header>
            <div class="jumbotron">
                <h1>Football League Table</h1>
            </div>
        </header>
        <div class="container">
            <main>
                <br>
                <table id="standings">
                    <thead>
                        <tr>
                            <td>S/N</td>
                            <td>Team</td>
                            <td>MP</td>
                            <td>W</td>
                            <td>D</td>
                            <td>L</td>
                            <td>GF</td>
                            <td>GA</td>
                            <td>GD</td>
                            <td>Pts</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="Arsenal">
                            <td class="mn"></td>
                            <td id="tn1">Arsenal</td>
                            <td id="mp1">0</td>
                            <td id="w1">0</td>
                            <td id="d1">0</td>
                            <td id="l1">0</td>
                            <td id="gf1">0</td>
                            <td id="ga1">0</td>
                            <td id="gd1">0</td>
                            <td id="pts1">0</td>
                        </tr>
                        <tr id="Chelsea">
                            <td class="mn"></td>
                            <td id="tn2">Chelsea</td>
                            <td id="mp2">0</td>
                            <td id="w2">0</td>
                            <td id="d2">0</td>
                            <td id="l2">0</td>
                            <td id="gf2">0</td>
                            <td id="ga2">0</td>
                            <td id="gd2">0</td>
                            <td id="pts2">0</td>
                        </tr>
                        <tr id="Liverpool">
                            <td class="mn"></td>
                            <td id="tn3">Liverpool</td>
                            <td id="mp3">0</td>
                            <td id="w3">0</td>
                            <td id="d3">0</td>
                            <td id="l3">0</td>
                            <td id="gf3">0</td>
                            <td id="ga3">0</td>
                            <td id="gd3">0</td>
                            <td id="pts3">0</td>
                        </tr>
                        <tr id="ManUtd">
                            <td class="mn"></td>
                            <td id="tn4">Man Utd</td>
                            <td id="mp4">0</td>
                            <td id="w4">0</td>
                            <td id="d4">0</td>
                            <td id="l4">0</td>
                            <td id="gf4">0</td>
                            <td id="ga4">0</td>
                            <td id="gd4">0</td>
                            <td id="pts4">0</td>
                        </tr>
                        <tr id="ManCity">
                            <td class="mn"></td>
                            <td id="tn5">Man City</td>
                            <td id="mp5">0</td>
                            <td id="w5">0</td>
                            <td id="d5">0</td>
                            <td id="l5">0</td>
                            <td id="gf5">0</td>
                            <td id="ga5">0</td>
                            <td id="gd5">0</td>
                            <td id="pts5">0</td>
                        </tr>
                        <tr id="Tottenham">
                            <td class="mn"></td>
                            <td id="tn6">Tottenham</td>
                            <td id="mp6">0</td>
                            <td id="w6">0</td>
                            <td id="d6">0</td>
                            <td id="l6">0</td>
                            <td id="gf6">0</td>
                            <td id="ga6">0</td>
                            <td id="gd6">0</td>
                            <td id="pts6">0</td>
                        </tr>
                    </tbody>
                </table>
            </main>
            <br>
            <hr>
    
    
            <br>
            <aside class="wrap">
                <div>
                    <h1>Matches Played</h1>
                    <table id="matches-played">
                        <thead>
                            <td>S/N</td>
                            <td>Date</td>
                            <td>Team</td>
                            <td colspan="2">Score</td>
                            <td>Team</td>
                            <td>del</td>
                        </thead>
                        <tbody>
    
                        </tbody>
                    </table>
                </div>
    
    
                <br>
            </aside>
    
                <!-- SCORES -->
            <br>
                <div class="pl-5">
                    <h2 class="text-center">Scores:</h2>
                    <div class="scoresheet">
                        <p class="team--wale text-center px-2">
                            <select id="name1" class="form-control">
                                <option value="Arsenal">Arsenal</option>
                                <option value="Chelsea">Chelsea</option>
                                <option value="Liverpool">Liverpool</option>
                                <option value="ManCity">Man City</option>
                                <option value="ManUtd">Man Utd</option>
                                <option value="Tottenham">Tottenham</option>
                            </select>
                            <span>
                             <input type="number" class="text-center form-control-plaintext" min="0"
                                    id="team--wale" value="0">
                           </span>
                        </p>
    
    
    
                        <p class="team--kola text-center px-2">
                            <select id="name2" class="form-control">
                                <option value="Chelsea">Chelsea</option>
                                <option value="Liverpool">Liverpool</option>
                                <option value="ManCity">Man City</option>
                                <option value="ManUtd">Man Utd</option>
                                <option value="Tottenham">Tottenham</option>
                                <option value="Arsenal">Arsenal</option>
                            </select>
                            <span>
                                
                                <input type="number" class="text-center form-control-plaintext " min="0" id="team--kola" value="0">
                            </span>
                        </p>
                    </div>
                    <br>
                    <div class="text-center ">
                        <button class="col-md-8 btn btn-md btn-outline-primary " id="set-scores">Set Scores</button>
                    </div>
                </div>
                <!-- end SCORES -->
        </div>
        <br>
        <br>
    
        <script src="script.js "></script>
    </body>
    
    </html>