

.jumbotron {
    color: #007BFF;
}

.wrap {
    display: flex;
}

.wrap > div:first-child {
    width: 130%;
}

.wrap > div:last-child {
    width: 50%;
}

h1 {
    color: #007BFF;
}

.scoresheet{
    display: flex;
}

.team-pst-wale > h3 {
    color: #007BFF;
}

.team-pst-kola > h3 {
    color: #28A745;
}

div.team-pst-wale, div.team-pst-kola {
    margin: 0 10px;
}

p.team-pst-wale, p.team-pst-kola {
    margin: 0 10px;
}

p.team-pst-wale {
    color: #007BFF;
}

p.team-pst-kola {
    color: #28A745;
}

thead, td {
    padding: 5px 20px;
}

td:nth-of-type(n+2) {
    text-align: center;
}

thead {
    font-weight: 600;
    color: #28A745;
    text-align: center;
}

tr:nth-of-type(2n+1) {
    background-color: #eee;
}

tbody > tr:hover {
    color: #007BFF;
}

tr {
    border: 1px solid white;
}

ul {
    list-style-type: none; 
}

div.scores > h2 {
    color: #007BFF;
}

ul li:before {
    content: "";
    background-size: 10px;
    margin-right: 10px;
    margin-left: -20px;
    display: inline-block;
    background-image: url('football.png');
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
}

input[type="number"] {
    font-size: 25px;
    font-weight: 600;
}

.red {
    color: #E63838;
}

.red:hover {
    cursor: pointer;
    font-weight: 600;
}

table {
    width: 100%;
}

main {
    width: 100%;
    margin: auto;
}

#del:hover {
    cursor: pointer;
}

.red {
    color: #b42b2b;
}


/* For Small Screens */
@media (max-width: 760px) {

    thead, td {
        padding: 2px 5px;
        border: 1px solid white;
    }

    .wrap {
        display: block;
    }

    .wrap > div:first-child {
        width: 100%;
    }

    div.scores {
        width: 20px;
        padding: 0;
        margin: auto;
        /* height: 500px; */
        /* position: fixed;
        top: 0;
        left: 0;
        opacity: 0.8;
        background-color: white; */
    }
}